@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  background-color: #2c3539;
  color: #fcfbfc;
  font-family: "Chakra Petch", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}
.form-min-item {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 13px;
  cursor: pointer;
}
.scale-icon:hover {
  transform: scale(1.15);
  cursor: pointer;
}
